/**
    Global styles
    @author Timothy Maina
*/

/*================================
     Global styles & overrides
 *===============================*/
html, body {
    margin: 0px;
    padding: 0px;
    direction:initial;
}
.content-main{
    overflow-y:scroll;
}
.conceal{
    display:none ;
}
.underline{
    text-decoration:underline !important;
}
.light{
    font-weight:300;
    background:none;
}
/*================================
     Text styles & overrides
 *===============================*/

.ion-2x{
    font-size:24px !important;
}
.ion-3x{
    font-size:30px !important;
}
.ion-4x{
    font-size:36px !important;
}
.ion-5x {
    font-size: 40px !important;
}
.text-info {
    color: #53a6fa !important;
}
.text-danger {
    color: #ea2e49 !important;
}

/*================================
     Button styles & overrides
 *===============================*/
.no-btn{
    padding:unset;
    margin:unset;
    border:none;
    background:none;
}

.badge-danger {
    background: #ea2e49 !important;
    border: 1px #ea2e49 solid;
}

/*================================
     Global CSS3 Animations
 *===============================*/
.blink{
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity:0;
    }
}

/*================================
    Other styles
*================================*/
.pointer {
    cursor: pointer;
}

.window{
    margin:20px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

table tbody tr:hover{
    cursor:pointer;
}

.avatar {
    border-radius: 50% !important;
    overflow: hidden !important;
}

.avatar img {
    height: 100% !important;
    width: 100% !important;
    vertical-align:middle;
}

.top-right {
    font-size: .65rem !important;
}

.unit-course{
    position:relative;
    font-size:15px !important;
    padding:0px 10px;
    float:right;
}
.w-40 {
    line-height: 40px !important;
    height: 40px !important;
    width: 40px !important;
}
.w-50 {
    line-height: 50px !important;
    height: 50px !important;
    width: 50px !important;
    min-width:50px;
}

.avatar img {
    vertical-align: middle;
    width: 100% !important;
    height: 100%;
}