/**
    Global styles
    @author Timothy Maina
*/

/*================================
     Global styles & overrides
 *===============================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: #d8d8d8;
}

/*================================
     Text styles & overrides
 *===============================*/

/*================================
     Button styles & overrides
 *===============================*/