@using Common.ViewModels
@model IList<FeesViewModel>

@{
    ViewBag.Title = "Fee Structures";
    ViewBag.Action = "Fees";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="padding">
    <h3>
        <span>
            <i class="fa fa-money"></i> @ViewBag.Title
        </span>
    </h3>
</div>