@using Common.AccountViewModels
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
    string error = (string)ViewBag.error;
}

<div class="py-5 text-center w-100">
    <span>
        <i class="ion ion-university ion-5x"></i>
    </span>

    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            <div>
                <p class="text-muted my-3">Please check your email to reset your password.</p>
            </div>
            <div class="py-4">
                Return to <a class="text-primary _600" href="/account/login">Sign in</a>
            </div>
        </div>
    </div>
</div>
