@using Common.AccountViewModels
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    ViewBag.Title = "Forgot Password";
    string error = (string)ViewBag.error;
}

<div class="py-5 text-center w-100">
    <span>
        <i class="ion ion-university ion-5x"></i>
    </span>

    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            <div>
                <h5>Forgot your password?</h5>
                <p class="text-muted my-3">Enter your email below and we will send you instructions on how to change your password.</p>
            </div>

            @if (!string.IsNullOrWhiteSpace(error))
            {
                <div class="alert alert-danger">
                    <span>@error</span>
                </div>
            }
            <form id="form" name="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", required = true, @placeholder = "Email" })
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button class="btn primary" type="submit">Send</button>
            </form>
            <div class="py-4">
                Return to <a class="text-primary _600" href="/account/login">Sign in</a>
            </div>
        </div>
    </div>
</div>
