@using DAL.Models
@using Common.AccountViewModels
@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    ViewBag.Title = "Sign In";
    string error = (string)ViewBag.error;
}

<div class="py-5 text-center w-100">
    <span>
        <img alt="logo" height="130" 
             class="img-responsive"
             src="~/images/mobile_eduction_logo_fine_circle.png" />
    </span>
    <br />
    <br />
    <h3>@ViewBag.Title</h3>
    <br />
    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            @if (!string.IsNullOrWhiteSpace(error))
            {
                <div class="alert alert-danger">
                    <span>@error</span>
                </div>
            }
            <form id="form" name="form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", required = true, @placeholder = "Email" })
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" placeholder="password" type="password" required class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="md-check">
                        <input asp-for="RememberMe" type="checkbox" />
                        <i class="primary"></i> Keep me signed in
                    </label>
                </div>
                <button class="btn primary" type="submit">Sign in</button>
            </form>
            <div class="my-4">
                <a class="text-primary _600" href="/account/forgotpassword">Forgot password?</a>
            </div>
            <div>
                Do not have an account? <a class="text-primary _600" href="/account/register">Sign up</a>
                <br />
                <a class="text-primary _600" href="/about-us">
                    About Us
                </a>
            </div>
        </div>
    </div>
</div>

