@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
    string error = (string)ViewBag.error;
}

<div class="py-5 text-center w-100">
    <span>
        <i class="ion ion-university ion-5x"></i>
    </span>
    <h3>
        <i class="ion ion-checkmark-circled ion-3x text-success"></i>
        Success!
    </h3>
    <br />

    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            <div>
                <h5> <span class="my-3">Your password has been reset.</span></h5>
            </div>
            <div class="py-4">
                <a class="btn primary" asp-controller="Account" asp-action="Login">Proceed to login</a>
            </div>
        </div>
    </div>
</div>