@using Common.AccountViewModels
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    ViewBag.Title = "Reset Password";
    string error = (string)ViewBag.error;
}

<div class="py-5 text-center w-100">
    <span>
        <i class="ion ion-university ion-5x"></i>
    </span>
    <h3>Reset your password</h3>
    <br />
    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            @if (!string.IsNullOrWhiteSpace(error))
            {
                <div class="alert alert-danger">
                    <span>@error</span>
                </div>
            }
            <form id="form" name="form" asp-controller="Account" asp-action="ResetPassword" method="post">
                <input asp-for="Code" type="hidden" />

                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", required = true, @placeholder = "Email" })
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" placeholder="password" type="password" required class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" placeholder="confirm password" type="password" required class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button class="btn primary" type="submit">Reset</button>
            </form>
        </div>
    </div>
</div>


