@using DAL.Models
@{ 
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    ViewBag.Title = "Upload Content";
    ViewBag.Action = "Contents";
    var unit = (Unit)ViewBag.unit;
}
<style>
    #ContentFile{
        opacity:0.1;
        height:.1px;
        position:absolute;
    }
    .ContentFileLabel{
        min-height:48px;
    }
</style>

<form class="padding col-md-8" 
      role="form" 
      id="UploadForm" 
      method="post" 
      action="/contents/add/unit/@unit.Id"
      enctype="multipart/form-data">
    <h4>
        Upload New Content

        <span class="pull-right top-right">
            <span><i class="fa fa-umbrella"></i> @unit.Name</span>
            <br />
            <span class="pull-right">@unit.Course.Name</span>
        </span>
    </h4>

    <div class="box p-3">
        <div class="row">
            <span class="col-md-10">
                Add <b>documents, videos or audio</b> recording to this unit with additional <b>metadata</b>
                to help students of this unit be able to search and find it and provide
                further instructions on how to consume the content.
            </span>
        </div>
        <br />
        <div class="form-group">
            <strong>Choose Option<span class="text-danger">*</span></strong>
            <select class="form-control col-md-8" name="ContentType" onchange="toggleDiv(this)">
                <option value="2" label="File" selected></option>
            </select>
        </div>
        <div id="UrlDiv">
            <div class="form-group">
                <strong>Content Url<span class="text-danger">*</span></strong>
                <input type="url" id="Url" required name="Url" class="form-control col-md-8" placeholder="http://" />
            </div>

            <div class="form-group">
                <strong>Type<span class="text-danger">*</span></strong>
                <select class="form-control col-md-8" name="UrlFileType">
                    <option value="0" label="Audio"></option>
                    <option value="1" label="Video" selected></option>
                    <option value="2" label="Image"></option>
                    <option value="3" label="Document"></option>
                </select>
            </div>
        </div>
        
        <div class="form-group" id="FileDiv" >
            <strong>
                Select a file<span class="text-danger">*</span>
            </strong>
            <label class="form-control col-md-8 ContentFileLabel" for="ContentFile">
                <i class="FileName"></i>
                <span for="ContentFile" class="btn btn-primary col-md-3 pull-right">BROWSE</span>
            </label>
            <input type="file" name="File" id="ContentFile" class="form-control col-md-6"  />
        </div>

        <div id="metadata">
            <div class="form-group">
                <strong>Title<span class="text-danger">*</span></strong>
                <input type="text" name="Title" id="Title" required placeholder="e.g Stock Market Logic" class="form-control col-md-9" />
            </div>

            <div class="form-group">
                <strong>Description<span class="text-danger">*</span></strong>
                <p class="col-md-7">
                    (<i>
                        Additional instructions for readers either describing the content or
                        how to consume the content.
                    </i>)
                </p>
                <textarea id="Description" name="Desc" title="Description" required class="form-control col-md-9" rows="4"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <span class="pull-right">
            <button class="btn btn-default" type="button" onclick="window.history.go(-1)">Cancel</button>
            <button class="btn btn-danger" type="submit"><i class="fa fa-upload"></i> Upload</button>
        </span>
    </div>
</form>

<script>
    var selectedFile = null;
    $(document).ready(function (e) {
        $('#UrlDiv').hide();
        $('#Url').prop('required', false);
    })
    $('#ContentFile').change(function (e) {
        selectedFile = e.target.files[0];

        $('.FileName').text(selectedFile.name+', '+ fileSize(selectedFile.size));
    });
    function toggleDiv(elem)
    {
        var val = parseInt($(elem)[0].value);

        if (val === 1) {
            $('#UrlDiv').show();
            $('#FileDiv').hide();

            $('#Url').prop('required', true);
            $('#ContentFile').prop('required', false);
        }
        else if (val === 2) {
            $('#FileDiv').show();
            $('#UrlDiv').hide();

            $('#Url').prop('required', false);
            $('#ContentFile').prop('required', true);
        }

        console.log(val);
    }
    function fileSize(bytes) {
        var exp = Math.log(bytes) / Math.log(1024) | 0;
        var result = (bytes / Math.pow(1024, exp)).toFixed(2);

        return result + ' ' + (exp == 0 ? 'bytes': 'KMGTPEZY'[exp - 1] + 'B');
    }
</script>