@using DAL.Models
@using Services
@model Content
@{
    ViewBag.Title = Model.Title;
    ViewBag.Action = "Contents";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    #webplayer {
        max-width: 800px;
    }
    .plyr {
        border-radius: 4px;
        margin-bottom: 15px;
    }
</style>
<div class="padding">
    <span class="hidden" id="CommentId">@Model.Id</span>
    <div class="row">
        <div class="col-md-7">
            @{ 
                if(Model.Type == FormatType.Video)
                {
                     <div id="webplayer">
                         <video controls data-plyr='{"title": @Model.Title, "volume":3}'>
                             <!-- Video files -->
                             <source src="@Model.Url" type="video/mp4">

                             <!-- Fallback for browsers that don't support the <video> element -->
                             <a href="@Model.Url" download>Download</a>
                         </video>
                     </div>
                }
            }
            @{
                Html.RenderPartial("Contents/_Metadata", Model);
            }
        </div>
    </div>
</div>
