@using DAL.Models
@using Services
@model Course
@{
    ViewBag.Title = "Course Enrollment Successful";
    ViewBag.Action = "Courses";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="padding">
    <div class="text-center">
        <span>
            <i class="fa fa-check-circle fa-4x text-success"></i>
        </span>
        <br />
        <br />
        <h4 class="text-success">@ViewBag.Title</h4> 
        <h5>
            @switch (Model.Type)
             {
                 case CourseType.Certificate:
                     <i class="fa fa-certificate"></i>
                     break;
                 case CourseType.Diploma:
                     <i class="fa fa-certificate text-warning"></i>
                     break;
                 case CourseType.Degree:
                     <i class="fa fa-certificate text-success"></i>
                     break;
                 case CourseType.Masters:
                     <i class="fa fa-certificate text-info"></i>
                     break;
                 case CourseType.Phd:
                     <i class="fa fa-certificate text-danger"></i>
                     break;
                 default:
                     break;
             }
            @Model.Name
        </h5>
        <br />
        <div>
            <a class="btn btn-primary" href="/">
                <i class="fa fa-home"></i> Home
            </a>
            <a class="btn btn-primary" href="/courses/@Model.Id/@Model.GenerateSlug()" style="color:white;">
                <i class="fa fa-leaf"></i> Proceed to course
            </a>
        </div>
    </div>
</div>