@using DAL.Extensions
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Examinations";
    ViewBag.Action = "Exams";
}
<div class="padding" ng-app="gobel-app">
    <div ng-controller="examCtrl" ng-init="onInitExamIndex()">
        @Html.Partial("Exams/_details")
        <h3>
            {{title}}
            <span class="ml-auto h6"><b class="badge danger">{{exams.length}}</b></span>

            @{
            if (User.Role() == "Lecturer")
            {
                <span class="pull-right">
                    <button class="btn btn-success" data-toggle="modal" data-target="#setExamUnitChooserModal" onclick="onSelectUnit4Exam()">
                        <i class="fa fa-cube"></i> Set New Exam
                    </button>
                </span>
        }
            }
        </h3>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="exam in exams">
                <div class="box p-3">
                    <h6>
                        <span ng-click="onSelectExam(exam)" class="pointer">
                            <i class="ion ion-ribbon-b"></i> <span> {{exam.name}}</span>
                        </span>

                        <span class="pull-right">
                            <i class="ion ion-record text-danger blink"
                               title="Urgent: Be ready to sit for this exam."
                               ng-show="minutesToExam(exam.moment) > 0 && minutesToExam(exam.moment) < 60"></i>

                            <span ng-show="minutesToExam(exam.moment) < 0"
                                  title="Exam Completed!">
                                <i class="ion ion-checkmark-circled text-success"></i>
                            </span>

                        </span>
                    </h6>
                    <p ng-click="onSelectExam(exam)" class="pointer">
                        Code: <b class="text-uppercase">{{exam.code.substring(0,6)}}</b>
                    </p>
                    <p>
                        <i class="fa fa-umbrella"></i> <span> {{exam.unit}}</span>

                        <span class="pull-right">
                            <i class="fa fa-clock-o"></i> <span> {{calendarDate(exam.moment)}}</span>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        <div ng-show="loader === true">
            <center>
                <i class="fa fa-spinner fa-3x fa-spin"></i>
                <br />
                <br />
                <p>
                    fetching exams...
                </p>
            </center>
        </div>
        <div ng-show="exams.length < 1 && loader === true">
            <center>
                <i class="fa fa-frown-o fa-3x"></i>
                <br />
                <br />
                <p>
                    <span>No exams scheduled.</span>
                    <br />
                    @if (User.Role() == "Lecturer")
                {
                    <a class="underline" data-toggle="modal" data-target="#setExamUnitChooserModal" onclick="onSelectUnit4Exam()">
                        <b>Schedule now!</b>
                    </a>
            }
                </p>
            </center>
        </div>

    </div>
</div>

@Html.Partial("Exams/_SetExamUnitChooser")
