@using DAL.Extensions
@using DAL.Models
@model Exam
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = $"Statistics ({Model.Name})";
    ViewBag.Action = "Exams";
}

<div class="padding">
    <h4>
        <i class="ion ion-pie-graph ion-2x"></i> Student statistics
    </h4>
</div>