/* Coolors Exported Palette - coolors.co/979797-d8d8d8-33a3d5-1a546f-80a03b */

/* HSL */
$color1: hsla(0%, 0%, 59%, 1);
$color2: hsla(0%, 0%, 85%, 1);
$color3: hsla(199%, 66%, 52%, 1);
$color4: hsla(199%, 62%, 27%, 1);
$color5: hsla(79%, 46%, 43%, 1);

/* RGB */
$color1: rgba(151, 151, 151, 1);
$color2: rgba(216, 216, 216, 1);
$color3: rgba(51, 163, 213, 1);
$color4: rgba(26, 84, 111, 1);
$color5: rgba(128, 160, 59, 1);