@using DAL.Extensions
@{ 

}
<div class="sidenav hv">
        <div class="navbar lt">
            <a class="navbar-brand" href="/">
                <span>
                    <i class="ion ion-university ion-3x"></i>
                </span>                
                <span class="hidden-folded d-inline">E-Learning Pad</span>
            </a>
        </div>
        <div class="nav-fold px-2">
            <a class="d-flex p-2" href="profile.html">
            <span class="avatar w-40 rounded grey hide">J</span> 
            <img alt="user avatar" class="w-40 circle" src="@Url.Content(User.PhotoUrl())"></a>
            <div class="hidden-folded flex p-2">
                <div class="d-flex">
                    <a class="mr-auto text-nowrap" href="profile.html">@User.FullNames()
                    <small class="d-block text-muted">
                        @User.Role()
                    </small>
                    </a>
                    <div>
                        <span class="badge badge-pill info">@ViewBag.Notifications</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex hide-scroll">
            <div class="scroll">
                <div class="nav-active-text" data-nav="">
                    <ul class="nav">
                        <li class="nav-header"><span class="text-xs hidden-folded">Quick access</span></li>
                        @if(ViewBag.Action == "Dashboard")
                        {
                            <li class="active">
                                <a href="/"><span class="nav-icon"><i class="fa fa-home"></i></span> <span class="nav-text">Home</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"><span class="nav-icon"><i class="fa fa-home"></i></span> <span class="nav-text">Home</span></a>
                            </li>                        
                        }
                        @if(ViewBag.Action == "Courses")
                        {
                            <li class="active">
                                <a href="/courses"><span class="nav-icon"><i class="fa fa-leaf"></i></span> <span class="nav-text">Courses</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/courses"><span class="nav-icon"><i class="fa fa-leaf"></i></span> <span class="nav-text">Courses</span></a>
                            </li>                        
                        }

                        @if(ViewBag.Action == "Units")
                        {
                            <li class="active">
                                <a href="/units"><span class="nav-icon"><i class="fa fa-umbrella"></i></span> <span class="nav-text">Units</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/units"><span class="nav-icon"><i class="fa fa-umbrella"></i></span> <span class="nav-text">Units</span></a>
                            </li>
                        }
                        <li>
                            <a href="/lecturers"><span class="nav-icon"><i class="fa fa-user-secret"></i></span> <span class="nav-text">Lecturers</span></a>
                        </li>

                        @if(User.IsInRole("Student"))
                        {
                            <li class="nav-header hidden-folded"><span class="text-xs">Your collection</span></li>
                            <li>
                                <a href="#"><span class="nav-icon"><i class="fa fa-history"></i></span> <span class="nav-text">Tasks</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="nav-icon"><i class="fa fa-calendar"></i></span> <span class="nav-text">Calendar</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="py-2 mt-2 b-t no-shrink">
            <ul class="nav no-border">
                <li>
                    <form role="form" method="post" action="/account/logout">
                        <button class="dropdown-item pointer" type="submit" value="Sign out">
                            <span class="nav-icon">
                                <i class="fa fa-power-off"></i>
                            </span>
                            <span class="nav-text">Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

